<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="UpImagePath" value="null"/>
  </appSettings>
  <connectionStrings>
    <add name="conStr" connectionString="Server=.;DataBase=MyBlogsDB;Uid=sa;Pwd=sa;"/>
  </connectionStrings>
  <system.web>
    <compilation targetFramework="4.5.2" debug="true"/>
    <httpRuntime requestValidationMode="2.0"/>
    <pages validateRequest="false"/>
  </system.web>
</configuration>
<!--ProjectGuid: {aec2d3e9-acda-4c03-8c11-93220421090b}-->